/__pycache__
/logs
/cache
/build
/dist
/.zencoder
.vscode/settings.json
.gitignore
*.pkl
*.log
requirements.txt
PrayTimesApp.spec
main_updated.spec
PrayerTimes.spec
settings.json
TODO.md
TESTING_INSTRUCTIONS.md
TEMP_FIX_README.md
test_embedded_startup.py
find_untranslated.py
update_version.py
fetch_countries_cities.py
find_untranslated.py
build.log
