/settings.json
/__pycache__
/logs
/cache
*.pkl
/build
/dist
requirements.txt
PrayTimesApp.spec
.gitignore
main_updated.spec
PrayerTimes.spec
.vscode/settings.json
settings.json
TODO.md
TESTING_INSTRUCTIONS.md
TEMP_FIX_README.md
test_embedded_startup.py
find_untranslated.py
/.zencoder
update_version.py
fetch_countries_cities.py
find_untranslated.py
installer.log
